<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BookReadingEventsDBEntities" connectionString="metadata=res://*/BookReadingEvent.csdl|res://*/BookReadingEvent.ssdl|res://*/BookReadingEvent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEEPAK3150439;initial catalog=BookReadingEventsDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>